
$tone1: white;
$tone2: orange;
$tone3: #5C411C;
$tone4: #E8B507;
$tone5: beige;
$tone6: #fa3f3f;
$tone7: #fafae8;

*
{
    margin: 0 auto;
}
body
{
    background-color: $tone7;

}
.container {
  padding-top: 10px;
}

.form-container,
.table-container 
{
  max-width: 80vw;
  margin: 0 auto;
}

.form-container
{
    text-align: center;
      border:thin solid #aaaaaa;
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: $tone5;

}
h1
{
    text-align: center;
}


.logout
{
    margin-bottom:30px;
}
.error
{
    color: $tone4;
}

/* link buttons */
.green-button,
.red-button,
.blue-button
{
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;  
  text-decoration: none;
  cursor:pointer;
    box-shadow: 2px 2px grey;
}
input
{
    padding: 10px;
}
#register-text
{
    color: $tone4;
    padding: 20px;
}
.green-button
{
    background-color: #28a745;
}

.red-button
{
    background-color: #dc3545;

}

.blue-button
{
    background-color: #3545dc;
}

.green-button:hover,
.red-button:hover,
.blue-button:hover
{
    text-decoration: none;
    color:#fff;
}

.green-button:hover
{
    background-color: #107020; 
}

.red-button:hover
{
  background-color: #a01020;
}

.blue-button:hover
{
  background-color: #1020a0; 
}
/* end of link buttons */

a
{
    color: $tone3;
}
a:hover
{
    text-decoration: none;
    color: $tone6;
}
nav
{
    display: flex;
    position: sticky;
    top: 0;
    background: $tone3;
    text-align: center;
    flex: 1;
    z-index: 1;
    overflow: hidden;
    height: 60px;
}
nav a, nav span
{
    display: block;
    margin: 0 auto;
    padding: 0;
    font-family: "Sofia", serif;
    font-size: 40px;
    text-decoration: none;
}
nav a:hover, nav span:hover
{
    color: $tone2;
}
iframe {
    z-index: 0 !important;
}
.font-effect-fire
{
    color: $tone3;
}
.font-effect-fire:hover
{
    color: $tone4;
}

#search-container
{
    float: right;
}

.search-icon
{
    color: white;
    transform: scale(1.5);
    border-radius: 15px;
    margin-left: 10px;
}
.search-icon:hover
{
    color: $tone5;
}
.shopping-icon, .inventory-icon
{
    color: white;
    transform: scale(1.6);
    margin-top: -10px;
}
.shopping-icon:hover, .inventory-icon:hover
{
    color: $tone2;
    transform: scale(1.5);
}

.menu-icon
{
    color: white;
    margin-top: 10px;
    font-size: 40px !important;
    z-index: 2;
}
.menu-icon:hover
{
    color: $tone2;

}
@keyframes ease {
    from {width: 0;}
    to {width: 20vw;}
}
.sidebar
{
    position: fixed;
    top: inherit;
    margin-top: 10px;
    right: 0;
    background-color: ghostwhite;
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid black;
    animation-name: ease;
    animation-duration: 1s;
    width: 20vw;
    height: 100%;
    box-shadow: 5px 10px 10px 10px grey;
    border-top-left-radius: 10px;
}
.sidebar ul li, ul span
{
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    text-align: center;
}
ul
{
    padding: 20px;
}
ul a, ul span
{
    text-decoration: none;
    font-size: 25px;
    color: $tone3;
    display: block;
    text-align: center;

}
.footer
{
    margin-top: 150px;

    height: 30vh;
    display: flex;
    background: $tone5;

}
.footer ul
{
    text-align: left;
    padding: 5px;

}
.footer ul li
{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    padding: 10px;
}
.footer ul li h6
{
    margin: 0;
    text-align: left;
}

.footer-container
{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
.footer-container p
{
    padding: 20px;
    color: $tone2;
    background: $tone7;
}
.warning
{
    padding:10px;
    border: 1px solid black;
}
#profilePhoto
{
    width: 120px;
    float: right;
    border-radius: 20px;
}
#profilePhotoTable
{
    width: 120px;
    float: right;
    border-radius: 20px;
}
input [type="button"]
{
color:pink;
}

.table-container table
{
    width:100%;
    border-collapse:collapse;
    text-align: left;
}

.table-container thead
{
    color: black;
    text-align: left;
    text-transform: capitalize;
}

.table-container tbody tr
{
    height:3em;
}

.table-container thead th,
.table-container tbody td
{
    padding:5px;
}
.table-container tbody tr:nth-child(odd) 
{
    background-color: #eee;
}

.table-container tbody tr:nth-child(even) 
{
    background-color: $tone2;

}
.modalImage
{
    float: left;
    max-width: 20vw;
    max-height:400px;
}
.add-new-product
{
    margin-top:1em;
}
footer
{
    text-align: center;
}
.salesTable
{
    padding: 20px;
    border: 1px solid black;
}
.salesTable td
{
    padding: 10px;
}
.products
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    border: 1px solid black;
    width: 50vw;
    padding: 10px;
    max-width: 50vw;
}
.product
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: $tone5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 200px;
    min-height: 500px;
    max-width: 150px;
    margin: auto;
    text-align: center;
}
.prodImage
{
    max-width: 10vw;
}
.productPhotos img
{
    width: 150px;
    height: 250px;
}
@media only screen and (max-width: 600px) {

    @keyframes ease {
        from {width: 0;}
        to {width: 100vw;}
    }
    .sidebar
    {

        animation-name: ease;
        animation-duration: 1s;
        width: 100vw;
        height: 100%;
    }
}